<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit Story</title>

    <link type="text/css" rel="stylesheet" href="/css/postSpace/edit.css">

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/js/postSpace/edit.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>

    <div id = "headerArea">
        <img src = "/materials/logo.png" style = "height: 100%; width: auto; margin-left: 1em; margin-top: 0.25em" />
        <p id = "headerTitle">title</p>

        <ul id = "menu1">
            <li class = "menu_1" id = "goto_Home"   >goto_home</li>
            <li class = "menu_1" id = "goto_Publish">goto_publish</li>
            <li class = "menu_1" id = "setting_list">setting_list
                <ul class = "menu2">
                    <li class = "menu_2" id = "set_normal"  >set_normal</li>
                    <li class = "menu_2" id = "set_security">set_security</li>
                </ul>
            </li>
            <li class = "menu_1" id = "switch_lang"  >switch_lang
                <ul class = "menu2">
                    <li class = "menu_2" id = "switch_zh">中文</li>
                    <li class = "menu_2" id = "switch_en">English</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container">
      <div class="titleArea">
        <h1 id="title">Your title</h1>
        <textarea id = "editTitle" rows="1" cols="10"></textarea>
      </div>
      <div class = "contentArea">
        <h3 id="content">Your content</h3>
        <textarea id="editContent" rows="3" cols="10"></textarea>
      </div>
      <div class = "buttonArea">
        <button id="submitBtn">Click to edit your story!</button>
      </div>
    </div>

</head>
<body>

</body>
</html>