<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href = "/css/home.css">

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/js/home.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>

</head>
<body>
    <button id = "userBtn">Go to user page</button>
    <button id = "publishStoryBtn">Publish Your Story</button>

    <div id = "postArea">
    </div>

</body>
</html>