<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8" />

        <meta name = "author" content = "SeeChen Lee" />

        <title>小蓝鸟</title>

        <link rel = "stylesheet" type = "text/css" href = "/css/index.css?v=0.0.1" />

        <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

        <script type = "text/javascript" src = "/js/index.js"></script>
    </head>
    <body>
        <div id="loadingContent"><img/></div>

        <table id = "headerBar" border = "0">
            <tr>
                <td><img id = "headerLogo" src = "https://raw.githubusercontent.com/Mobile-Internet-BIT-20/TermProject/main/Element/Logo/Logo-transparentBg.png"/></td>
                <td>小蓝鸟项目</td>
            </tr>
        </table>
    </body>
</html>