<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8" />

        <meta name = "author" content = "SeeChen Lee" />

        <title>小蓝鸟</title>

        <link rel = "stylesheet" type = "text/css" href = "/css/index.css" />

        <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

        <script type = "text/javascript" src = "/js/index.js"></script>
    </head>
    <body>
        <div id="loadingContent"><img/></div>
        <p id = "pageTitle">小蓝鸟项目</p>
    </body>
</html>