<!--
    login.html
    网页注册页面
    Author       : SeeChen Lee
    Version      : 1.0.0
    Last Modified: 13-Jan-2023 15:49
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "viewport"  content = "width = device-width, initial-scale = 1" />

        <meta charset = "UTF-8" />
        <meta name = "copyright" content = "SeeChen Lee, LeYe Lau, WinYi Lee, ViHang Tan"/>

        <title></title>

        <link rel = "icon"       type = "image/png" href = "/materials/logo.png" />

        <link rel = "stylesheet" type = "text/css" href = "/css/publicSetting.css" />

        <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/login.css?version=0.0.1" />

        <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

        <script type = "text/javascript" src = "/publicFunction/cookie.js"></script>
        <script type = "text/javascript" src = "/publicFunction/jquery.md5.js"></script>

        <script type = "module" src = "/publicFunction/consoleMessage.js?version=1.0.0"></script>
        <script type = "module" src = "/publicFunction/language.js?version=1.0.0"></script>
        <script type = "module" src = "/js/login.js?version=0.0.1"></script>
    </head>
    <body>

        <p style = "text-align: center;">
            <img src = "/materials/logo.png" style = "height: 6em; width: auto; margin-top: 0.5em" />
        </p>

        <div id = "mainModule">
            <p id = "login_title">login_title</p>


            <table style = "width : 90%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;" border = 0>
                <tr><td>
                    <p id = "userEmail_title"  class = "login_label">userName_title</p>
                </td></tr>
                <tr><td>
                    <label>
                        <input type = "text" id = "userEmail_input"/>
                    </label>
                    <p id = "userWarning" class = "loginWarning"></p>
                </td></tr>

                <tr><td>
                    <p id = "userPass_title"   class = "login_label">userPass_title</p>
                </td></tr>
                <tr><td>
                    <label>
                        <input type = "password" id = "userPass_input"/>
                    </label>
                    <p id = "passWarning" class = "loginWarning"></p>
                </td></tr>

                <tr><td>
                    <p id = "login_button">login_button</p>
                </td></tr>
                <p id = "goto_Register">gotoRegister</p>
            </table>
        </div>
    </body>
</html>