<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish Your Story</title>

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>
    <script type="text/javascript" src="/js/publish.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/publish.css">

</head>
<body>
    <div id="bodyArea">
        <label for="title">Title</label>
        <textarea id="title">

        </textarea>
        <label for="content">Content</label>
        <textarea id="content">

        </textarea>

        <button id = "publishBtn">Publish!</button>
    </div>
</body>
</html>