<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "author" content = "SeeChen" />
        <title>小蓝鸟 | 注册</title>

        <link type = "image/png" rel = "icon" href = "https://raw.githubusercontent.com/Mobile-Internet-BIT-20/TermProject/main/Element/Logo/Logo-transparentBg.png">

        <link type = "text/css" rel = "stylesheet" href = "/css/register.css" />

        <script type = "text/javascript">
        </script>
    </head>
    <body>
        <div></div>
    </body>
</html>