/*
    publicSetting.css
    所有需要设置一样属性标签
    Author       : SeeChen Lee
    Version      : 0.0.1
    Last Modified: 12-Jan-2023 21:42
*/

.WebsiteLogo {
    background-image    : url("../materials/logo.png");
    background-position : center;
    background-size     : contain;
}