<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit Story</title>

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/js/postSpace/edit.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>

    <div class="container">
      <div class="titleArea">
        <h1 id="title">Your title</h1>
        <textarea id = "editTitle" rows="1" cols="10"></textarea>
      </div>
      <div class = "contentArea">
        <h3 id="content">Your content</h3>
        <textarea id="editContent" rows="3" cols="10"></textarea>
      </div>
      <div class = "buttonArea">
        <button id="submitBtn">Click to edit your story!</button>
      </div>
    </div>

</head>
<body>

</body>
</html>