<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self Post</title>

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/js/postSpace/postSpace.js"></script>
    <script type="text/javascript" src = "/js/postSpace/self.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>

</head>
<body>
<div class = "postbox">
    <div class = "contentArea">
        <h1 id="postTitle"></h1>
        <button id = "editStoryBtn">Edit Your Story</button>
        <p id="publisher"></p>
        <p id="postContent"></p>
        <p id="likeCount"></p>
        <br>
    </div>
    <div class = "commentArea">
        <div class = "commentHistory" id="commentHistory">
            <div class = "commentBox">
                <p id = "commentUserId"></p>
                <p id="commentContent"></p>
            </div>
        </div>

        <textarea id="commentBox" name="textArea" rows="3" cols="20">input text here</textarea>
        <button id="commentBtn">Comment!</button>
    </div>
</div>

</body>
</html>