<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self Post</title>

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/js/postSpace/postSpace.js"></script>
    <script type="text/javascript" src = "/js/postSpace/self.js"></script>
    <script type="text/javascript" src = "/js/home.js"></script>
</head>
<body>
    <div class = "postbox">
        <div class = "contentArea">
            <h1 id="postTitle"></h1>
            <p id="publisher"></p>
            <p id="postContent"></p>
        </div>
        <div class = "commentArea">
            <div class = "commentHistory"></div>

            <textarea id="commentBox" name="textArea" rows="3" cols="20">input text here</textarea>
        </div>
    </div>
</body>
</html>