/*
    index.css
    网页版默认样式
    Author       : SeeChen Lee
    Version      : 1.0.0
    Last Modified: 13-Jan-2023 03:29
*/

*, html, body {
    margin     : 0;
    padding    : 0;
}

body {
    background : #5BC0F8;
}

#headerBar {
    width           : 100%;
    height          : 12.5%;
    position        : fixed;
    z-index         : 999;
}

#headerTitle {
    position    : absolute;
    bottom      : 5%;
    left        : 5%;
    font-family : "Book Antiqua", serif;
    font-size   : 3em;
    color       : #FFC93C;
    text-shadow : 2px 2px 2px #000000;

    display     : none;
}

#menu1 {
    position   : absolute;
    right      : 2em;
    list-style : none;
    width      : 55%;
    bottom     : 10%;
    height     : 2em;
    text-align : center;
    transition : all 0.5s;
}

.menu_1 {
    float         : left;
    width         : 25%;
    font-size     : 1.2em;
    color         : #ffffff;
    font-family   : "gill san mt", serif;
    text-shadow   : 1px 1px 1px #000000;
    height        : 2em;
    line-height   : 2em;
    border-radius : 0.25em;
    transition    : all 0.5s;
}

.menu_1:hover {
    cursor     : pointer;
    background : rgba(255, 255, 255, 0.5);
}

.menu_1:hover .menu2 {
    display : block;
}

.menu2 {
    display       : none;
    text-align    : center;
    list-style    : none;
    transition    : all 0.5s;
    position      : relative;
    border        : 0.25em solid rgba(255, 255, 255, 0.5);
    border-radius : 0.15em;
}

.menu_2 {
    border-radius : 0.25em;
    transition    : all 0.5s;
}

.menu_2:hover {
    cursor     : pointer;
    background : rgba(255, 255, 255, 0.5);
}

#bodyArea {}

.all_introduction {
    font-size   : 4em;
    text-shadow : 2px 2px 2px #000;
    margin-left : 2em;
}

#web_name {
    color       : #FFC93C;
    padding-top : 3em;
}

#web_introduction {
    color : #ffffff;
}

#goto_home {
    margin-left   : 6em;
    background    : #0081C9;
    height        : 3em;
    line-height   : 3em;
    width         : 20%;
    color         : #FFFFFF;
    text-shadow   : 1px 1px 1px #000000;
    margin-top    : 1em;
    text-align    : center;
    border-radius : 0.25em;
    font-size     : 1.25em;
    cursor        : pointer;
}

#footerArea {
    height     : 30%;
    position   : fixed;
    bottom     : 0;
    left       : 0;
    width      : 100%;
}

#project_members {
    text-align    : left;
    font-style    : italic;
    color         : #FFFFFF;
    text-shadow   : 1px 1px 1px #000000;
    padding-left  : 50vw;
    margin-top    : -1em;
    font-size     : 2.5em;
}

#group_members {
    table-layout : fixed;
    width        : 50%;
    position     : absolute;
    right        : 0;
    text-align   : center;
    margin-top   : 1.5em;
}

#group_members img {
    height        : 8em;
    width         : auto;
    border-radius : 100%;
    border        : 1px solid #000000;
    box-shadow    : 1px 1px 1px #000;
}

#group_members a {
    text-decoration : none;
    color           : #ffffff;
    text-shadow     : 1px 1px 1px #000;
}