<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publish Your Story</title>

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script type="text/javascript" src = "/publicFunction/cookie.js"></script>
    <script type="text/javascript" src="/js/publish.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/publish.css">

</head>
<body>
    <div id = "headerArea">
        <img src = "/materials/logo.png" style = "height: 100%; width: auto; margin-left: 1em; margin-top: 0.25em" />
        <p id = "headerTitle">title</p>

        <ul id = "menu1">
            <li class = "menu_1" id = "goto_Home"   >goto_home</li>
            <li class = "menu_1" id = "goto_Publish">goto_publish</li>
            <li class = "menu_1" id = "setting_list">setting_list
                <ul class = "menu2">
                    <li class = "menu_2" id = "set_normal"  >set_normal</li>
                    <li class = "menu_2" id = "set_security">set_security</li>
                </ul>
            </li>
            <li class = "menu_1" id = "switch_lang"  >switch_lang
                <ul class = "menu2">
                    <li class = "menu_2" id = "switch_zh">中文</li>
                    <li class = "menu_2" id = "switch_en">English</li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="bodyArea">
        <label class = "label" for="title">Title</label>
        <br>
        <textarea id="title"></textarea>
        <br>
        <label class = "label" for="content">Content</label>
        <br>
        <textarea id="content"></textarea>
        <br>

        <button id = "publishBtn">Publish!</button>
    </div>
</body>
</html>