<!--
    index.html
    网页版默认主页
    Author       : SeeChen Lee
    Version      : 1.0.0
    Last Modified: 13-Jan-2023 03:27
-->
<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport"  content = "width = device-width, initial-scale = 1" />

        <meta charset = "UTF-8" />
        <meta name = "copyright" content = "SeeChen Lee, LeYe Lau, WinYi Lee, ViHang Tan"/>

        <title></title>

        <link rel = "icon"       type = "image/png" href = "/materials/logo.png" />

        <link rel = "stylesheet" type = "text/css" href = "/css/publicSetting.css" />

        <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/index/index.css?version=1.0.0" />
        <link rel = "stylesheet" type = "text/css" media = "screen and (max-device-width: 600px)" href = "/css/index/index400.css" />

        <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

        <script type = "text/javascript" src = "/publicFunction/cookie.js"></script>

        <script type = "module" src = "/publicFunction/consoleMessage.js?version=1.0.0"></script>
        <script type = "module" src = "/publicFunction/language.js?version=1.0.0"></script>
        <script type = "module" src = "/js/index.js?version=1.0.0"></script>
    </head>

    <body>
        <div id = "headerBar">
            <img src = "/materials/logo.png" style = "height: 7em; width: auto; margin-left: 1em; margin-top: 0.25em" />
            <p id = "headerTitle">title</p>

            <ul id = "menu1">
                <li class = "menu_1" id = "goto_Login"   >login</li>
                <li class = "menu_1" id = "goto_Register">register</li>
                <li class = "menu_1" id = "goto_Download">download</li>
                <li class = "menu_1" id = "switch_lang"  >switch_lang
                    <ul class = "menu2">
                        <li class = "menu_2" id = "switch_zh">中文</li>
                        <li class = "menu_2" id = "switch_en">English</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id = "bodyArea">
            <p id = "web_name"         class = "all_introduction">web_name</p>
            <p id = "web_introduction" class = "all_introduction">web_introduction</p>

            <p id = "goto_home">goto_home</p>
        </div>

        <div id = "footerArea">
            <p id = "project_members">project_members</p>
            <table id = "group_members">
                <tr>
                    <td><a href = "https://github.com/Leosta0807"><img src = "/materials/leye.png" /><p id = "leye_lau">leye_lau</p></a></td>
                    <td><a href = "https://github.com/SeeChen/"><img src = "/materials/seechen.png" /><p id = "seechen_lee">seechen_lee</p></a></td>
                    <td><a href = "https://github.com/CloudWY45/"><img src = "/materials/winyi.png" /><p id = "winyi_lee">winyi_lee</p></a></td>
                    <td><a href = "https://github.com/tanvihang"><img src = "/materials/vihang.png" /><p id = "vihang_tan">vihang_tan</p></a></td>
                </tr>
            </table>
        </div>
    </body>
</html>