/*
    index.css
    网页版默认样式
    Author       : SeeChen Lee
    Version      : 0.0.1
    Last Modified: 11-Jan-2023 18:04
*/

*, html, body {
    margin     : 0;
    padding    : 0;
    background : #00ff00;
}