<!--
    self.html
    当前用户的个人主页
    Author       : SeeChen Lee
    Version      : 1.0.0
    Last Modified: 14-Jan-2023 11:01
-->
<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport"  content = "width = device-width, initial-scale = 1" />

    <meta charset = "UTF-8" />
    <meta name = "copyright" content = "SeeChen Lee, LeYe Lau, WinYi Lee, ViHang Tan"/>

    <title></title>

    <link rel = "icon"       type = "image/png" href = "/materials/logo.png" />

    <link rel = "stylesheet" type = "text/css" href = "/css/publicSetting.css" />

    <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/userSpace/userSpace.css?version=1.0.0" />
    <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/userSpace/visitor.css?version=1.0.0" />

    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

    <script type = "text/javascript" src = "/publicFunction/cookie.js"></script>
    <script type = "text/javascript" src = "/publicFunction/logout.js"></script>
    <script type = "text/javascript" src = "/js/userSpace/userSpace.js"></script>

    <script type = "module" src = "/publicFunction/consoleMessage.js?version=1.0.0"></script>
    <script type = "module" src = "/publicFunction/language.js?version=1.0.0"></script>
    <script type = "module" src = "/js/userSpace/visitor.js?version=0.0.1"></script>
</head>
<body>
<div id = "headerArea">
    <img src = "/materials/logo.png" style = "height: 100%; width: auto; margin-left: 1em; margin-top: 0.25em" />
    <p id = "headerTitle">title</p>

    <ul id = "menu1">
        <li class = "menu_1" id = "goto_Home"   >goto_home</li>
        <li class = "menu_1" id = "goto_Publish">goto_publish</li>
        <li class = "menu_1" id = "setting_list">setting_list
            <ul class = "menu2">
                <li class = "menu_2" id = "set_normal"  >set_normal</li>
                <li class = "menu_2" id = "set_security">set_security</li>
                <li class = "menu_2" id = "user_logout" >user_logout</li>
            </ul>
        </li>
        <li class = "menu_1" id = "switch_lang"  >switch_lang
            <ul class = "menu2">
                <li class = "menu_2" id = "switch_zh">中文</li>
                <li class = "menu_2" id = "switch_en">English</li>
            </ul>
        </li>
    </ul>
</div>
<div id = "bodyArea">
    <div id = "userAllShowInfo">
        <table id = "userInformation" border = 0>
            <tr>
                <td id = "userProfile"><img id = "profilePicture" src = "/materials/logo.png"/></td>
                <td id = "otherInfo" colspan = "3">
                    <table id = "userProfileRight" border = 0>
                        <tr>
                            <td><span id = "showUserName">userName</span></td>
                        </tr>
                        <tr>
                            <td><span id = "showUserSex"></span></td>
                        </tr>
                        <tr>
                            <td id = "dayOfBirth">dayOfBirth</td>
                        </tr>
                        <tr>
                            <td id = "userIntro">userIntro</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p id = "rightSideButton">rightSideButton</p>
                </td>
            </tr>
        </table>
    </div>
    <div id = "otherContentArea"></div>
</div>
</body>
</html>