<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport"  content = "width = device-width, initial-scale = 1" />

        <meta charset = "UTF-8" />
        <meta name = "copyright" content = "SeeChen Lee, LeYe Lau, WinYi Lee, ViHang Tan"/>

        <title></title>

        <link rel = "icon"       type = "image/png" href = "/materials/logo.png" />

        <link rel = "stylesheet" type = "text/css" href = "/css/publicSetting.css" />

        <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/settings/settings.css?version=1.0.0" />
        <link rel = "stylesheet" type = "text/css" media = "screen and (min-width: 600px)" href = "/css/settings/normal.css?version=1.0.0" />

        <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

        <script type = "text/javascript" src = "/publicFunction/cookie.js"></script>
        <script type = "text/javascript" src = "/publicFunction/logout.js"></script>
        <script type = "text/javascript" src = "/js/settings/settings.js"></script>

        <script type = "module" src = "/publicFunction/consoleMessage.js?version=1.0.0"></script>
        <script type = "module" src = "/publicFunction/language.js?version=1.0.0"></script>
        <script type = "module" src = "/js/settings/normal.js?version=0.0.1"></script>
    </head>
    <body>

    </body>
</html>